body
{
}
p {
    margin: 0;
}
input#sName {
    width:100px;
}
table#searched td {
    padding:0;
    margin:0;
    font-size:12px;
}
table tr:not(:first-child){
    height:10px;
}
div#combine {
    position:relative;
}

table#resultTable {
    width:400px;
}
table#resultTable tr:not(:last-child) td:nth-child(2) {
    text-align: left;
    padding-left:10px;
}
